@import "../../assets/scss/base";

.imgs {
  width: 100lvw;
  display: flex;
  img {
    width: calc(100% / 5);
    object-fit: cover;
  }
}

.banner {
  width: 100lvw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://dev.quantum-group.ro/fi/hero_bg.fe21383122acaa0b.png");
  h1 {
    color: $white;
    font-family: $karla;
    font-size: 30px;
  }
}

.projects {
  width: 100lvw;
  min-height: calc(100lvh - 80px);
  display: flex;

  .project {
    width: 25%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white;
    padding: 20px;
    font-family: $karla;
    text-align: center;
    gap: 20px;
    transition: all 0.75s ease-out;
    h2,
    p,
    button {
      opacity: 0;
    }
    &:hover {
      width: 800px;
      h2,
      p,
      button {
        opacity: 1;
      }
    }

    h2 {
      transition: all 0.75s ease-out;
      font-size: 25px;
    }
    p {
      font-size: 15px;
      width: 100%;
      max-width: 300px;
      transition: all 0.75s ease-out;
      height: max-content;
      padding: 0 10px;
      text-overflow: "";
      font-weight: 600;
    }
  }
}

.altcancer {
  position: relative;
  width: 100lvw;
  .sl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    .departamente {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 1;

      h1,
      h2 {
        font-family: $karla;
        font-weight: 500;
        font-size: 22px;
      }
      h1 {
        color: $black;
        margin: 0 0 16px;
      }
      h2 {
        color: $royal;
        cursor: pointer;
        margin-bottom: 0.7rem;
      }
    }
  }

  .mySwiper {
    z-index: 0;
    position: relative;
    height: calc(90vh - 80px);

    .swiper {
      width: 100%;
    }
    .swiper-slide {
      background: url("https://dev.quantum-group.ro/fi/assets/images/business-line/full_hall.png"),
        $white;
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      width: 100lvw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .texts {
        max-width: 56rem !important;
        height: 100%;
        position: relative;
        left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3 {
          margin-bottom: 20px;
          font-size: 30px;
          font-weight: 600;
          font-family: $karla;
          color: $black;
        }
        .tess {
          padding-right: 30px;
          display: grid !important;
          column-gap: 1.25rem !important;
          grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
          line-height: 26px !important;
          p {
            color: $un_posibil_negru;
            font-size: 1rem;
            font-family: $karla;
            font-weight: 400;
          }
        }
      }
      .imgs {
        height: 30%;
      }
    }
  }
}
.swiper-pagination {
  margin-right: 50px;
  top: -50px;
  width: 24px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8px;
  background: rgba($royal, 0.85);
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: $royal;
  border-radius: 50%;
}

.scrollcnt {
    position: relative;
    
    .cardd {
      user-select: none;
      z-index: 1;
      align-items: center;
      flex-shrink: 0;
      height: 600px;
      justify-content: center;
      width: 350px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
  
      &:nth-last-of-type(odd) {
        flex-direction: column-reverse;
        .text {
          align-items: flex-end;
        }
        .img {
          object-position: bottom;
        }
      }
  
      overflow: hidden;
      background-color: #fff;
  
      img {
        width: 100%;
        height: 270px;
        object-position: top;
        object-fit: cover;
      }
      .linie {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background: $un_posibil_negru;
      }
      .an {
        font-size: 20px;
        color: $royal;
      }
      .text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        line-height: 1.2;
        width: 100%;
        color: $un_posibil_negru;
        height: 270px;
        padding: 30px;
        font-weight: 400;
        font-size: 17px;
        font-family: $montserat;
      }
    }
  }
  
  