@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
$karla: "Karla", sans-serif;
$montserat: "Montserrat", sans-serif;
$white: #dfdfdf;
$blue: #002678;
// $green: #21cdad;
$green: #2886ff;
$black: #262829;
$oxford_blue1: #020122;
$oxford_blue: #0e6daa;
// $royal: #2886ff;

$altu: #0062a4;
// $portocaliu: #f58f29;
$portocaliu: #F78F1E;

$un_posibil_negru: #2c2c34;
$ceva_vafta_sa_intelegi: #d8d8f6;

// f58f29
// df5e00
$black: #000;
$white: #fff;
$gray: #808080; // Define the $gray variable
$lightGray: #d3d3d3;
$blue: #0000ff;
$royal: #3C60B3;
$karla: 'Karla', sans-serif;
$montserat: 'Montserrat', sans-serif;