.about {
  width: 100vw;
  height: auto;
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-start;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  display: grid;
  img,
  iframe {
    width: 65lvw;
    // height: 470px;
    object-fit: contain;
    grid-column: span 2 / span 2 !important;
    z-index: 2;
    position: relative;
  }
  .cine {
    width: 100%;
    max-width: 355px;
    height: 100%;
    display: flex;
    margin: auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: 700;
    }

    p {
      text-indent: 20px;
      font-size: 1rem;
      font-weight: 300;
    }

    a {
      margin: 20px 0;
      color: $green;
    }

    h1 {
      position: absolute;
      top: 30px;
      font-size: 120px;
      font-family: $karla;
      color: rgba($black, 0.2);
      font-weight: 800;
      right: -50px;
    }
  }
}

@media screen and (max-width: 963px) {
  .about {
    display: flex;
    img {
      display: none;
    }
    .cine {
      max-width: 100vw;
      padding: 30px;
      p {
        width: 100%;
      }
    }
  }
}

.gradient{
  // -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  // mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));

}