.misiune {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: url("../../assets/img/misiune.jpg");
  background-size: cover;
  background-position: center;
}

.misiune::after {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba($royal, 0.6);
}

.misiune h1 {
  z-index: 1;
  width: 100%;
  max-width: 1203px;
  position: absolute;
  top: 30px;
  font-size: 8vw;
  font-family: $karla;
  color: rgba($white, 0.1);
  font-weight: 800;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; /* Ensures the text stays on a single row */
}

.misiune .text {
  z-index: 1;
  width: 100%;
  max-width: 1200px;
}

.misiune .text h2 {
  color: $white;
  font-size: 6vw;
  font-weight: 800;
  margin-bottom: 20px;
}

.misiune .text p {
  color: $white;
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 0 1px 10px #000000;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .misiune h1 {
    font-size: 10vw;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
  
  .misiune .text h2 {
    font-size: 8vw;
  }
  
  .misiune .text p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .misiune h1 {
    font-size: 12vw;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .misiune .text h2 {
    font-size: 10vw;
  }
  
  .misiune .text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .misiune h1 {
    font-size: 14vw;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .misiune .text h2 {
    font-size: 12vw;
  }
  
  .misiune .text p {
    font-size: 0.8rem;
  }
}
