.simplecontact {
  width: 100vw;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 20px;

  .text {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    line-height: 1;
    margin: 40px;

    h1 {
      font-weight: 900;
    }

    .op {
      font-size: 60px;
      color: rgba($green, 0.4);
    }
    .ful {
      margin-top: -25px;
      font-size: 60px;
      margin-left: 25px;
      color: $green;
    }
    .d {
      margin-top: -25px;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background: $royal;
    color: $white;
    border-radius: 5px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1024px) { /* Tablete mari. notebookuri */
  .simplecontact {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .simplecontact .text {
    margin: 20px;
    .op, .ful, .d {
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 768px) { /* Tablete mici */
  .simplecontact {
    padding: 15px;
  }
  .simplecontact .text {
    margin: 15px;
    .op, .ful, .d {
      font-size: 45px;
    }
  }
}

@media screen and (max-width: 480px) { /* Telefon (iPhone, Samsung, etc.) */
  .simplecontact {
    flex-direction: column;
    padding: 10px;
  }
  .simplecontact .text {
    font-size: 90%;
    margin: 10px;
    .op, .ful, .d {
      font-size: 40px;
    }
    .ful {
      margin-left: 5px;
      margin-top: -11px;
    }
    .d {
      margin-top: -14px;
    }
  }
}

@media screen and (max-width: 375px) { /* Telefon mic */
  .simplecontact .text {
    font-size: 85%;
    margin-right: 5px;
    .op, .ful, .d {
      font-size: 36px;
    }
    .d {
      margin-top: -20px;
    }
  }
}
