@import "../../assets/scss/base";


h1 {
    font-weight: 600;
    color: white;
}


.department-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(135deg, $royal, #dfdfff);
}

.question {
    background-color: white;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    text-align: center; 
    width: 600px; 
    height: 150px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
}


.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    background-color: #F78F1E;
    color: white;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: $royal;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
    z-index: 1000;
}

.page-btn {
    background-color: #F78F1E;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.page-btn.active {
    background-color: $royal;
    color: white;
}

.page-btn:hover {
    background-color: #a96215;
    color: white;
}
